body {
  margin: 1em;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


div {
  padding: 1rem;
}

#root {
  margin: 1rem;
  border: 1px solid salmon;
}

#mountNode {
  margin: 1rem;
  border: 1px solid rebeccapurple;
}

#root input {
  display: block;
   margin-top: 1rem;
   border: 1px solid saddlebrown;
 }

#random {
  margin: 1rem;
  border: 1px solid firebrick;
}